@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
    --lightCyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);
    --grayishBlue:hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}

*{
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: var(--darkBlue);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 100dvh;
}

.container{
    background-color: var(--darkGrayishBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 350px;
}

h1{
    color: var(--neonGreen);
    font-size: .7rem;
    letter-spacing: 4px;
}

#heading{
    margin-top: 2rem;
}

#advice{
    color: var(--lightCyan);
    text-align: center;
    line-height: 1.5;
    font-size: 28px;
    padding: 0 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

#pattern-divider{
    background-image: url("../images/pattern-divider-mobile.svg");
    background-repeat: no-repeat;
    height: 32px;
    width: 310px;
    background-size: contain;
}

.dice-container{
    background-color: var(--neonGreen);
    width: 20px;
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    top: 1.2rem;
}

#dice{
    background-image: url("../images/icon-dice.svg");
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.dice-container:hover{
    cursor: pointer;
    box-shadow: 0px 0px 35px var(--neonGreen);
}

.advice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:1440px){
    #container{
        width: 1440px;
    }
    .container{
        width: 545px;
        height: 320px;
        position: relative;
    }
    #heading{
        margin-top: 0;
        margin-bottom: 2rem;
    }
    h1{
        font-size: .9rem;
        margin-bottom: 0;
    }
    #advice{
        padding: 0 2rem;
    }
    .advice{
        margin-bottom: 1rem;
    }
    #pattern-divider{
        background-image: url("../images/pattern-divider-desktop.svg");
        width:450px;

    }

    .dice-container{
        width: 28px;
        position: absolute;
        top: 290px;
        
    }
    .dice-container:hover{
        cursor: pointer;
        box-shadow: 0px 0px 35px var(--neonGreen);
    }

    #dice{
        height: 28px;
    }
}